__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.egg-info/
venv/
.env
.git
node_modules/
checklist-frontend/node_modules/
checklist-frontend/dist/
build/
dist/
.DS_Store
.idea/
.vscode/
*.log
*.tar.gz
*.zip
